<form id="login_form" style="margin: 50px" action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <div class="section-title">
        <h3 class="title">Регистрация</h3>
    </div>

    {% for f in form %}
        <div class="form-group">

            <label for="exampleInputEmail1">{{ f.label }}</label>

            {{ f }}


        </div>
        <div class="form-group"  >
        {% if f.errors %}

            <p style="color: red" >{{ f.errors }}</p>


        {% endif %}

    {% endfor %}
    </div>


    <a onclick="submitLoginAjax()" class="primary-btn">Регистрация</a>

    <a onclick="loginAjax()" class="primary-btn" style="float: right">Войти</a>


</form>
