<form style="margin: 50px" action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <div class="section-title">
        <h3 class="title">Регистрация</h3>
    </div>

    {% for f in form %}
        <div class="form-group">

            <label for="exampleInputEmail1">{{ f.label }}</label>

            {{ f }}

        </div>
    {% endfor %}

    <button class="primary-btn" type="submit">Регистрация</button>
    <a onclick="loginAjax()" class="primary-btn" style="float: right">Войти</a>


</form>
