{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li class="active">Мой кабинет</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- personal card -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Добро пожаловать {{ user.first_name }} {{ user.last_name }}</h2>
                    </div>
                </div>
                <!-- section title -->

                <div class="profiles">
                    <div class="col-md-3 col-sm-3 col-xs-12">

                        <div class="row center-block">


                            {% if user.profile.image %}
                                <img src="{{ user.profile.image|thumbnail_url:'medium' }}"
                                     alt=""  class="img-responsive"/>
                            {% else %}
                                <img src="{% static 'img/default_medium.jpg' %}" alt=""  class="img-responsive"/>


                            {% endif %}


                        </div>
                        <br>

                        <a href="{% url 'profile_settings' %}">
                            <button class="primary-btn">Настрока аккаунта</button>
                        </a>
                        <a href="{% url 'auction_create' %}">
                            <button class="primary-btn">Создать акуцион</button>
                        </a>
                        <a href="{% url 'profile_settings' %}">
                            <button class="primary-btn">Мои аукционы</button>
                        </a>

                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <span class="col-sm-12"><h5>Контактные информации</h5></span>
                            <div class="col-md-4 col-sm-6 col-xs-12 ">
                                <ul>
                                    <li><span><h6>Имя:</h6></span></li>
                                    <li><span><h6>Фамилия:</h6></span></li>
                                    <li><span><h6>Номер телефона:</h6></span></li>
                                    <li><span><h6>Электронный адресс:</h6></span></li>

                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">

                                <ul>
                                    <li><span>{{ user.first_name }}</span></li>
                                    <li><span>{{ user.last_name }}</span></li>
                                    <li><span>{{ user.profile.phone_number }}</span></li>
                                    <li><span>{{ user.email }}</span></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">


                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <span class="col-sm-12"><h5>Данные</h5></span>
                            <div class="col-md-4 col-sm-6 col-xs-12 ">
                                <ul>
                                    <li><span><h6>Созданные аукционы:</h6></span></li>
                                    <li><span><h6>Участие в аукционах:</h6></span></li>
                                    <li><span><h6>Рейтинг:</h6></span></li>
                                    <li><span><h6>Дата регистрации:</h6></span></li>

                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">

                                <ul>
                                    <li><span>{{ user.auctions.count }}</span></li>
                                    <li><span>{{ user.participants.count }}</span></li>
                                    <li><span>{{ user.profile.star }}/100</span></li>
                                    <li><span>{{ user.date_joined}}</span></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- personal card -->


            </div>


        </div>
    </div>
    <!-- section -->


    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->

            <div class="col-md-12">
                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">Мои аукционы</h3>
                    </div>
                    <table class="shopping-cart-table table">
                        <thead>
                        <tr>
                            <th>Аукционы</th>
                            <th></th>
                            <th class="text-center">Цена</th>
                            <th class="text-center">Статус</th>
                            <th class="text-right">Редактировать</th>
                            <th class="text-right">Удалить</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for a in auctions %}
                            <tr>
                                <td class="thumb"><img src="{{ a.lot.image.first.image|thumbnail_url:'m2' }}" alt="">
                                </td>

                                <td class="details">
                                    <a href="{% url 'auction_detail' a.id %}">{{ a.title }}</a>
                                    <ul>
                                        <li><span>Дата создания: {{ a.created_date }}</span></li>
                                        <li><span>Дата окончания: {{ a.end_date }}</span></li>
                                    </ul>
                                </td>
                                <td class="price text-center">

                                    <strong>{{ a.last_bet }}</strong><br>
                                    <del class="font-weak"><small>{{ a.start_price }}</small></del>
                                </td>

                                <td class="qty text-center">
                                    {% if a.is_active %}
                                        <button class="main-btn icon-btn"><i style="color: green"
                                                                             class="fa fa-check"></i></button>
                                    {% else %}
                                        <button class="main-btn icon-btn"><i style="color: red"
                                                                             class="fa fa-minus "></i></button>

                                    {% endif %}
                                </td>
                                <td class="total text-right">
                                    <a href="{% url 'auction_edit'  a.id %}" class="main-btn icon-btn"><i
                                            class="fa fa-bars"></i></a>
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'auction_delete'  a.id %}" class="main-btn icon-btn"><i
                                            class="fa fa-close"></i></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-12">
                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">Мои ставки</h3>
                    </div>
                    <table class="shopping-cart-table table">
                        <thead>
                        <tr>
                            <th>Аукционы</th>
                            <th></th>
                            <th class="text-center">Моя ставка</th>
                            <th class="text-center">Статус аукциона</th>
                            <th class="text-right">Актуальность</th>
                            <th class="text-right">Удалить</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for p in part %}
                            <tr>
                                <td class="thumb"><img src="{{ p.auction.lot.image.first.image|thumbnail_url:'m2' }}" alt="">
                                </td>

                                <td class="details">
                                    <a href="{% url 'auction_detail' p.auction.id %}">{{ p.auction.title }}</a>
                                    <ul>
                                        <li><span>Дата создания: {{ p.auction.created_date }}</span></li>
                                        <li><span>Дата окончания: {{ p.auction.end_date }}</span></li>
                                    </ul>
                                </td>
                                <td class="price text-center">

                                    <strong>{{ p.bet }}</strong><br>
                                    <del class="font-weak"><small>{{ p.auction.start_price }}</small></del>
                                </td>
                                <td class="qty text-center">
                                    {% if p.auction.is_active %}
                                        <button class="main-btn icon-btn"><i style="color: green"
                                                                             class="fa fa-check"></i></button>
                                    {% else %}
                                        <button class="main-btn icon-btn"><i style="color: red"
                                                                             class="fa fa-minus "></i></button>

                                    {% endif %}
                                </td>
                                  <td class="qty text-center">
                                    {% if p.bet == p.auction.last_bet %}
                                        <button class="main-btn icon-btn"><i style="color: green"
                                                                             class="fa fa-check"></i></button>
                                    {% else %}
                                        <button class="main-btn icon-btn"><i style="color: red"
                                                                             class="fa fa-minus "></i></button>

                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'auction_participants_delete'  p.auction.id %}" class="main-btn icon-btn"><i
                                            class="fa fa-close"></i></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->




{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
