{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load static i18n %}
<!-- FOOTER -->
<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="#">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <p>{% trans 'E-auction - самая легкая интернет платформа для проведения электронных аукционов и не только ...' %}
                    </p>

                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/profile.php?id=100006527793332"><i
                                class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/timurabdymazhinov/"><i class="fa fa-instagram"></i></a>
                        </li>

                        <li><a href="https://www.linkedin.com/in/timur-abdymazhinov-086bb5186/"><i
                                class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/TimurAbdymazhinov/"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://gitlab.com/TimurAbdymazhinov"><i class="fa fa-gitlab"></i></a></li>


                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">{% trans 'Мой кабинет' %}</h3>
                    <ul class="list-links">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">{% trans 'Мой кабинет' %} </a></li>
                            <li><a href="{% url 'auction_create' %}">{% trans 'Создать Аукцион' %} </a></li>
                            <li><a href="{% url 'favorite' %}">{% trans 'Избранные' %} </a></li>

                            <li><a href="{% url 'logout' %}">{% trans 'Выйти' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans 'Войти' %}</a></li>
                            <li><a href="{% url 'register' %}">{% trans 'Регистрация' %}</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>


            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">{% trans 'Страницы' %}</h3>
                    <ul class="list-links">
                        <li><a href="{% url 'index' %}">{% trans 'Главная' %}</a></li>
                        <li><a href="{% url 'page_aboutAuctions' %}">{% trans 'Об аукционах' %}</a></li>
                        <li><a href="{% url 'page_contacts' %}">{% trans 'Контакты' %}</a></li>
                        <li><a href="{% url 'page_aboutUs' %}">{% trans 'O нас' %}</a></li>

                    </ul>
                </div>
            </div>


            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">{% trans 'Оставайтесь на связи' %}</h3>
                    <p> {% trans 'Подписывайтесь на нашу платформу и будьте в курсе последних новостей из из мира E-auction.kg.' %}</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="{% trans 'Ваш электронный адрес' %}">
                        </div>
                        <button class="primary-btn">{% trans 'Подписаться' %}</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <script>document.write(new Date().getFullYear());</script>
                    {% trans 'Интернет-платформа E-auction | Специально для вас с ' %}<i class="fa fa-heart-o"
                                                                        aria-hidden="true"></i>...
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->