{% load static %}
{% load thumbnail %}
<!-- HEADER -->
<header>
    <!-- top Header -->
    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span>Добро пожаловать в e-auction!</span>
            </div>
            <div class="pull-right">
                <ul class="header-top-links">
                    <li><a href="#">Карта</a></li>
                    <li><a href="{% url 'page_contacts' %}">Контакты</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li class="dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Язык <i
                                class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">Кыргызча (KY)</a></li>
                            <li><a href="#">Русский (RU)</a></li>
                            <li><a href="#">English (EN)</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /top Header -->

    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="{% url 'index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Search -->
                <div class="header-search">
                    <form action="{% url 'auctions' 1 0 %}" method="get">
                        <input class="input search-input" name="search" type="text" placeholder="Поиск">

                        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /Search -->
            </div>
            <div class="pull-right">
                <ul class="header-btns">
                    <!-- Account -->


                    <li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong class="text-uppercase">Кабинет <i class="fa fa-caret-down"></i></strong>
                        </div>
                        <a class="text-uppercase">{{ user.username }}</a>


                        <ul class="custom-menu">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}"><i class="fa fa-user-o"></i> Мой кабинет </a></li>
                                <li><a href="{% url 'auction_create' %}"><i class="fa fa-plus"></i> Cоздать Аукцион </a>
                                </li>
                                <li><a href="{% url 'favorite' %}"><i class="fa fa-heart-o"></i> Избранные </a></li>
                                <li><a href="#"><i class="fa fa-exchange"></i> Активные </a></li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-unlock-alt"></i> Выйти</a></li>
                                {#                                <li><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>#}
                            {% else %}

                                <li><a onclick="loginAjax()" href="{% url 'login' %}" data-toggle="modal"
                                       data-target=".bd-example-modal-lg"><i class="fa fa-user"></i>Войти</a></li>
                                <li><a onclick="registerAjax()" href="{% url 'register' %}" data-toggle="modal"
                                       data-target=".bd-example-modal-lg"><i class="fa fa-user-plus"></i>Регистрация</a>
                                </li>





                            {% endif %}

                        </ul>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div id="login_form_content" class="modal-content">

                                </div>

                            </div>
                        </div>

                    </li>


                    <!-- /Account -->

                    {% if user.is_authenticated %}
                        <!-- Cart -->
                        <li class="header-cart dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-hourglass-half"></i>
                                    <span class="qty">3</span>
                                </div>
                                <strong class="text-uppercase">Мои ставки:</strong>
                                <br>
                                <hr>
                            </a>
                            <div class="custom-menu">
                                <div id="shopping-cart">
                                    <div class="shopping-cart-list">
                                        {% for part in  user.participants.all %}
                                            <div class="product product-widget">
                                                <div class="product-thumb">
                                                    <img src="{{ part.auction.lot.image.first.image|thumbnail_url:'small' }}"
                                                         alt="">


                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-price">{{ part.bet }}</h3>
                                                    <h2 class="product-name"><a
                                                            href="{% url 'auction_detail'  part.auction.id %}">{{ part.auction.title }}</a>
                                                    </h2>
                                                    <p>
                                                        Активность:{% if part.auction.is_active %}
                                                        <i style="color: green"
                                                           class="fa fa-check"></i>

                                                    {% else %}
                                                        <i style="color: red"
                                                           class="fa fa-minus "></i>

                                                    {% endif %}
                                                        Ставка: {% if part.auction.is_active %}
                                                        <i style="color: green"
                                                           class="fa fa-check"></i>

                                                    {% else %}
                                                        <i style="color: red"
                                                           class="fa fa-minus "></i>

                                                    {% endif %}
                                                    </p>

                                                </div>
                                                <button class="cancel-btn"><i class="fa fa-trash"></i></button>

                                            </div>
                                            <hr>
                                        {% endfor %}

                                    </div>


                                    <a href="{% url 'profile' %}" class="primary-btn">Мой Ставки <i
                                            class="fa fa-arrow-circle-right"></i>
                                    </a>

                                </div>
                            </div>
                        </li>
                        <!-- /Cart -->
                    {% endif %}
                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">

            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header"> Категории <i class="fa fa-list"></i></span>
                <ul class="category-list">
                    {% for c in category %}
                        {% if c.subcategories.all|length > 0 %}
                            <li class="dropdown side-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{ c.title }}<i
                                        class="fa fa-angle-right"></i></a>

                                <div class="custom-menu">
                                    <div class="row">

                                        <ul class="list-links">
                                            {% for subcat in c.subcategories.all %}
                                                <li><a href="{% url 'auctions' 2 subcat.id %}">{{ subcat.title }}</a>
                                                </li>
                                                <hr>
                                            {% endfor %}
                                            <li><a href="{% url 'auctions' 3 0 %}">Все</a>
                                            </li>

                                        </ul>


                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                </div>

                            </li>

                        {% else %}
                            <li><a href="{% url 'auctions' 1 c.id %}">{{ c.title }}</a></li>

                        {% endif %}

                    {% endfor %}
                    <li><a href="{% url 'auctions' 1 0 %}">Все категории</a></li>


                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'page_aboutAuctions' %}">Об аукционах</a></li>
                    <li><a href="{% url 'page_contacts' %}">Контакты</a></li>
                    <li><a href="{% url 'page_aboutUs' %}">O нас</a></li>
                    <li><a href="{% url 'page_blog' %}">Блог</a></li>

                    {#                    <li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"#}
                    {#                                                             aria-expanded="true">Страницы<i#}
                    {#                            class="fa fa-caret-down"></i></a>#}
                    {#                        <ul class="custom-menu">#}
                    {#                            <li><a href="index.html">Home</a></li>#}
                    {#                            <li><a href="products.html">Products</a></li>#}
                    {#                            <li><a href="product-page.html">Product Details</a></li>#}
                    {#                            <li><a href="checkout.html">Checkout</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->

