{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load static i18n %}
{% for auction in auctions %}
    <!-- Product Single -->
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product product-single">
            <div class="product-thumb">
                <div class="product-label">
                    {% if auction.is_active %}
                        <span>{% trans 'Статус' %}: {% trans 'Активен' %} </span>
                        <span class="sale">{% trans 'Начальная цена' %}: {{ auction.last_bet }} {{ auction.som }}</span>
                    {% else %}
                        <span>{% trans 'Статус' %}: {% trans 'Завершен' %} </span>
                        <span class="sale">{% trans 'Начальная цена' %}: {{ auction.last_bet }} {{ auction.som }}</span>
                    {% endif %}

                </div>
                <a href="{% url 'auction_detail' auction.id %}" class="main-btn quick-view"><i
                        class="fa fa-search-plus"></i> {% trans 'Смотреть' %}
                </a>
                {% if auction.lot.image.all %}
                    <img src="{{ auction.lot.image.first.image|thumbnail_url:'medium' }}"
                         alt="">
                {% else %}
                    <img src="{% static 'img/default_medium.jpg' %}" alt="">


                {% endif %}
            </div>
            <div class="product-body">
                <h3 class="product-price">{{ auction.start_price }} {{ auction.som }}</h3>

                {% if auction.star == None or auction.star == 0 %}
                    <div class="product-rating">
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>
                {% elif auction.star == 1 %}
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>

                {% elif auction.star == 2 %}
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>

                {% elif auction.star == 3 %}
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>

                {% elif auction.star == 4 %}
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>

                {% elif auction.star == 5 %}
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                {% endif %}
                <h2 class="product-name"><a href="#">{{ auction.title }}</a></h2>
                <div class="product-btns">
                    {% if user.is_authenticated %}
                        <button onclick="addFavorite({{ auction.id }})"
                                class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    {% endif %}
                    <a href="{% url 'auction_detail' auction.id %}"
                       class="primary-btn add-to-cart"><i
                            class="fa fa-gavel"></i> {% trans 'Сделать ставку' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Product Single -->
{% endfor %}