{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}
{% load static i18n %}

{% block title %}
    {% trans 'Создать аукцион' %}
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'index' %}">{% trans 'Главная' %}</a></li>
                <li><a href="{% url 'profile' %}">{% trans 'Мой кабинет' %}</a></li>
                <li class="active">{% trans 'Создать аукцион' %}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <form id="checkout-form" class="clearfix" action="{% url 'auction_create' %}" method="POST"
                      enctype="multipart/form-data" data-subcategories-url="{% url 'ajax_load_subcategories' %}">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="billing-details">

                            <div class="section-title">
                                <h3 class="title">{% trans 'Создание аукциона' %}</h3>
                            </div>


                            <div class="form-group">
                                <p>{% trans 'Категория' %}:</p>
                                {{ auctionform.category }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Подкатегория' %}:</p>
                                {{ auctionform.subcategory }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Название' %}:</p>
                                {{ auctionform.title }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Описание' %}:</p>
                                {{ auctionform.description }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Страна' %}:</p>
                                {{ auctionform.country }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Город' %}:</p>
                                {{ auctionform.city }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Начальная цена' %}:</p>
                                {{ auctionform.start_price }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Валюта' %}:</p>
                                {{ auctionform.som }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Шаг' %}:</p>
                                {{ auctionform.increment }}

                            </div>

                            <div class="form-group">
                                <p>{% trans 'Конечная дата' %}:</p>
                                {{ auctionform.end_date }}

                            </div>
                            {% if auctionform.errors %}

                                <p>{{ auctionform.errors }}</p>


                            {% endif %}

                            <br>
                            <div class="section-title">
                                <h4 class="title">{% trans 'Создание лота аукциона' %}</h4>
                            </div>


                            <div class="form-group">
                                <p>{% trans 'Название' %}:</p>
                                {{ productform.name }}
                            </div>

                            <div class="form-group">
                                <p>{% trans 'Брэнд' %}:</p>
                                {{ productform.brand }}
                            </div>

                            <div class="form-group">
                                <p>{% trans 'Статус' %}:</p>
                                {{ productform.status }}
                            </div>
                            {% if productform.errors %}

                                <p>{{ productform.errors }}</p>


                            {% endif %}


                            <div id="for_image">

                            </div>
                            <div class="form-group">
                                <button type="button" onclick="add_photo()">{% trans 'Добавить фото' %}</button>
                            </div>


                            <div class="pull-right" style="margin-top: 10px">
                                <button class="primary-btn" type="submit">{% trans 'Создать' %}</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->



{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}


