{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'profile' %}">Мой кабинет</a></li>
                <li class="active">Настройка аукциона</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <form id="checkout-form" class="clearfix" action="{% url 'auction_create' %}" method="POST"
                      enctype="multipart/form-data" data-subcategories-url="{% url 'ajax_load_subcategories' %}">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="billing-details">

                            <div class="section-title">
                                <h3 class="title">Создание аукциона</h3>
                            </div>


                            {% for a in auctionform %}

                                <div class="form-group">
                                    <p>{{ a.label }}:</p>
                                    {{ a }}

                                </div>
                                <div class="form-group" style="color: red">
                                    {% if a.errors %}

                                        <p>{{ a.errors }}</p>


                                    {% endif %}

                                </div>
                            {% endfor %}
                            <br>
                            <div class="section-title">
                                <h4 class="title">Создание лота аукциона</h4>
                            </div>

                            {% for p in productform %}
                                <div class="form-group">
                                    <p>{{ p.label }}:</p>
                                    {{ p }}
                                </div>

                                <div class="form-group" style="color: red">
                                    {% if f.errors %}

                                        <p>{{ p.errors }}</p>


                                    {% endif %}
                                </div>

                            {% endfor %}

                            <div id="for_image">

                            </div>
                            <div class="form-group">
                                <button type="button" onclick="add_photo()">Добавить фото</button>
                            </div>


                            <div class="pull-right" style="margin-top: 10px">
                                <button class="primary-btn" type="submit">Создать</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->



{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}


