{% extends 'user/logreg/base_auth.html' %}
{% load static %}

{% block form %}
    <div class="card-heading">
        <h2 class="title">Войти</h2>
    </div>
    <div class="card-body">
        <form action="{% url 'login' %}" method="POST" >

            <div class="form-row">
                <div class="name">Email</div>
                <div class="value">
                    <div class="input-group">
                        <input class="input--style-5" type="email" name="email">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="name">Email</div>
                <div class="value">
                    <div class="input-group">
                        <input class="input--style-5" type="password" name="Пароль">
                    </div>
                </div>
            </div>


            <div>
                <center>
                    <button class="btn btn--radius-2 btn--red" type="submit">Войти</button>


                    <a href="{% url 'index' %}" class="btn btn--radius-2 btn--blue m-r-10">Главная</a>
                    <a href="{% url 'registration' %}" class="btn btn--radius-2 btn--green m-r-10">Регистрация</a>

                </center>
            </div>
        </form>
    </div>

{% endblock %}
